@import 'node_modules/bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

*{
 font-family: 'Poppins', sans-serif;

}

#nav-login {
  background-color: rgb(90, 90, 231);
  border-radius: 2rem;
  transition: all ease 0.5s;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#nav-login:hover {
  background-color: rgb(50, 50, 156);
}

.card {
  transition: all ease 0.3s
}

.user-card {
  border-radius: 0.5rem;
  background-color: rgb(248, 248, 248);
  cursor: pointer;
   h6 {
     color: rgb(0, 0, 0);
   }
   p {
     color: rgb(128, 128, 128);
   }
}

.user-card:hover {
  background-color:rgb(15, 15, 15);
  h6{
    color:rgb(248, 248, 248);
  }
  p{
    color:rgb(179, 177, 177);
  }
}

body{
  background-color: rgb(245, 245, 245)
}

.nav-link:hover {
  background-color:rgb(245, 245, 245)
}
