<script>



  $(document).ready(() => {

    $("#auth-logout").on("click", (e) => {
      e.preventDefault();

      axios({
        method: "DELETE",
        url: "/api/auth/logout",
      }).then(() => {
        window.location.href = "/";
      });
    });
  });
</script>

<nav class="navbar mx-2" style="max-width: 1400px;">
  <div class="container-fluid">
    <a class="navbar-brand" style="color: #030918; font-weight: bold; font-size: 1.5rem;" href="/">Anothergram</a>
    <span class="d-flex align-items-center">
       <i id="toggle-theme" class='bx bx-xs bxs-moon mx-2 bg-dark p-2 rounded-pill text-warning'></i>
       <!-- <i id="toggle-theme" class='bx bx-xs bxs-sun mx-2 bg-white p-2 rounded-pill text-warning'></i> -->
          <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle rounded-pill " type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">Menu</button>
            <ul class="dropdown-menu dropdown-menu-light dropdown-menu-end" aria-labelledby="dropdownMenuButton2">
            <% if (user.id) { %>
              <li class="nav-item">
                <a class="nav-link text-dark" href="/my/posts">My Posts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" href="/my/posts/create">Create</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark " href="/community">Community</a>
              </li>
                <a class="nav-link text-dark " href="/my/profile/edit">Profile</a>
              </li>
              <li class="nav-item">
                <a id="auth-logout" class="nav-link text-danger fw-bold" href="/">Logout</a>
              </li>
              <% } else { %>
              <li class="nav-item">
                <a class="nav-link text-dark" href="/community">Community</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark fw-bold" href="/auth/signup">Signup</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark fw-bold" href="/auth/login">Login</a>
              </li>
            </ul>
             <% } %>
    </div>
    </span>

  </div>
</nav>
