<script>



  $(document).ready(() => {

    $('.navbar').on('click','#toggle-dark', (e) => {

      $('body').toggleClass('dark')
      $('#navbar-container').toggleClass('dark')
      $('#toggle-dark').replaceWith( `<i id="toggle-light" style="cursor: pointer" class='bx bx-xs bx-sun mx-2 bg-light p-2 rounded-pill text-warning'></i>`)

    })

    $('.navbar').on('click','#toggle-light', (e) => {

      $('body').toggleClass('dark')
      $('#navbar-container').toggleClass('dark')
      $('#toggle-light').replaceWith( `<i id="toggle-dark" style="cursor: pointer" class='bx bx-xs bxs-moon mx-2 bg-dark p-2 rounded-pill text-warning'></i>`)
    })

    $("#auth-logout").on("click", (e) => {
      e.preventDefault();

      axios({
        method: "DELETE",
        url: "/api/auth/logout",
      }).then(() => {
        window.location.href = "/";
      });
    });
  });
</script>

<nav class="navbar  mx-auto" style="max-width: 1300px;">
  <div class="container-fluid">
    <a class="navbar-brand mx-3" style="font-family: Satisfy ;font-weight: bold; font-size: 1.9rem;" href="/">Anothergram</a>
    <span class="d-flex align-items-center">
         <i id="toggle-dark" style="cursor: pointer" class='bx bx-xs bxs-moon mx-2 bg-dark p-2 rounded-pill text-warning'></i>
          <div class="dropdown">
            <button class="btn btn-light dropdown-toggle rounded-pill" style="font-size: 0.8rem" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">Menu</button>
            <ul class="dropdown-menu dropdown-menu-light dropdown-menu-end" aria-labelledby="dropdownMenuButton2">
            <% if (user.id) { %>
              <li class="nav-item">
                <a class="nav-link text-dark" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" href="/my/posts">My Posts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" href="/my/posts/create">Create Post</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" href="/chat/public">Chat</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark " href="/community">Community</a>
              </li>
                <a class="nav-link text-dark " href="/my/profile/edit">Profile</a>
              </li>
              <li class="nav-item">
                <a id="auth-logout" class="nav-link text-danger fw-bold" href="/">Logout</a>
              </li>
              <% } else { %>
              <li class="nav-item">
                <a class="nav-link text-dark" href="/community">Community</a>
              </li>
               <li class="nav-item">
                <a class="nav-link text-dark" href="/chat">Chat</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark fw-bold" href="/auth/signup">Signup</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark fw-bold" href="/auth/login">Login</a>
              </li>
            </ul>
             <% } %>
    </div>
    </span>

  </div>
</nav>
