<script>
  const userId = "<%= user.id  %>";
  const apiKey = "<%= process.env.OPEN_WEATHER_API_KEY %>";
  let lat, long, weatherData, userData;

  axios({
    method: "GET",
    url: `/api/profile/${userId}`,
  }).then((resp) => {
    userData = resp.data;
    generateComponent(menuItems, weatherData, userData);
  });

  const menuItems = [
    {
      title: "Home",
      icon: "bx-home bx-sm",
      link: "/",
      color: "text-light",
      id: "",
    },
    {
      title: "Create",
      icon: "bx-edit-alt bx-sm",
      link: "/my/posts/create",
      color: "text-light",
      id: "",
    },
    {
      title: "My Posts",
      icon: "bx-detail bx-sm",
      link: "/my/posts",
      color: "text-light",
      id: "",
    },
    {
      title: "Chat",
      icon: "bx-message-rounded bx-sm",
      link: "/chat/public",
      color: "text-light",
      id: "",
    },
    {
      title: "Community",
      icon: "bx-compass bx-sm",
      link: "/community",
      color: "text-light",
    },

    {
      title: "Profile",
      icon: "bx-user bx-sm",
      link: "/my/profile/edit",
      color: "text-light",
      id: "",
    },

    {
      title: "Log out",
      icon: "bx-log-out bx-sm",
      link: "/",
      color: "text-danger",
      id: "auth-logout",
    },
  ];

  const getLocation = () => {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition((position) => {
        lat = position.coords.latitude;
        long = position.coords.longitude;
        axios({
          method: "GET",
          url: `https://api.openweathermap.org/data/2.5/weather?lat=${lat}&lon=${long}&appid=${apiKey}&units=metric`,
        }).then((resp) => {
          weatherData = resp.data;
          generateComponent(menuItems, weatherData, userData);
        });
      });
    } else {
      console.log("Geolocation is not supported by this browser.");
      axios({
        method: "GET",
        url: `https://api.openweathermap.org/data/2.5/weather?lat=22.3355433&lon=114.1622848&appid=${apiKey}&units=metric`,
      }).then((resp) => {
        weatherData = resp.data;
      });
    }
  };
  getLocation();

  const generateWeatherBoard = (weatherData, userData) => {
    if (!weatherData) {
      return `
       <div class="text-light p-2" style="text-decoration: none; width: 172px" >
           ${
             userId &&
             ` <a href="/profile/${userData?.id}"> <img src="${userData?.avatar}" class="user-avatar my-2" alt="user-avatar" width="160px" height="160px" style="border-radius: 50%; object-fit: cover;"/></a>`
           }
            <h5 class="">Welcome back! ${
              userId && userData?.username.toUpperCase()
            }</h5>
            <div>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              <div class="text-muted" style="font-size: 0.9rem">Location service required</div>
            </div>
          </div>`;
    }
    return `
          <div class=" text-light p-2" style="text-decoration: none;" >
            ${
              userId &&
              ` <a href="/profile/${userData?.id}"> <img src="${userData?.avatar}" class="user-avatar my-2 text-center" alt="user-avatar" width="160px" height="160px" style="border-radius: 50%; object-fit: cover;"/></a>`
            }
            <h5 class="">Welcome back! ${userId && userData?.username.toUpperCase()}</h5>
            <div class="pt-2">
              <a data-bs-toggle="collapse" style="text-decoration: none" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                 <div class=' text-light'>📍 ${weatherData?.name}, ${weatherData?.sys.country}</div>
                 <div class="fw-bold fs-1 text-light">${weatherData?.main.temp}ºC</div>
              </a>
            </div>
            <div class="collapse" id="collapseExample">
              <div class="">
                <div>Overall: ${weatherData?.weather[0].main}</div>
                <div>Humidity: <span class="fw-bold text-light">${
                  weatherData?.main.humidity
                }%</span></div>
                <div>Wind Speed: <span class="fw-bold text-light">${(
                  weatherData?.wind.speed * 3.6
                ).toFixed(1)}km/hr</span></div>
              </div>
            </div>
          </div>
      `;
  };

  const generateMenuItem = (menuItem) => {
    return `
     <a id="${menuItem.id}" class="menu-item py-2 my-3 d-flex ${menuItem.color} align-items-center rounded-3" style="text-decoration: none;" href=${menuItem.link}>
       <i class='mx-2 bx ${menuItem.icon}'></i>
       <div class="mx-3 fs-6 d-none d-sm-none d-lg-none d-xl-block ">${menuItem.title}</div>
     </a>`;
  };

  const generateSidebar = (menuItems, weatherData, userData) => {
    if (!userId) {
      return `
      <div class="p-3 mt-3 d-md-block d-lg-block d-xl-none" >
        <a class='bx bx-home bx-sm text-light' href="/" style="text-decoration: none"></a>
      </div>
      <div class="p-3 d-md-block d-lg-block d-xl-none" >
        <a class='bx bx-compass bx-sm text-light' href="/community" style="text-decoration: none"></a>
      </div>
      <div class="p-3 d-md-block d-lg-block d-xl-none" >
        <a class='bx bx-message-rounded bx-sm text-light' href="/chat/public" style="text-decoration: none"></a>
      </div>
      <div class="p-3 d-md-block d-lg-block d-xl-none" >
        <a class='bx bx-user-plus bx-sm text-light' href="/auth/signup" style="text-decoration: none"></a>
      </div>
      <div class="p-3 d-md-block d-lg-block d-xl-none" >
        <a class='bx bx-log-in-circle bx-sm text-primary' href="/auth/login" style="text-decoration: none"></a>
      </div>
      <div class="p-3 d-none d-sm-none d-lg-none d-xl-block">
        ${generateWeatherBoard(weatherData, userData)}
      </div>
      <div class="m-2 d-none d-sm-none d-lg-none d-xl-block">
        <div class="d-flex flex-wrap justify-content-center">
          <a class="m-1  btn btn-primary rounded-pill fs-6 my-2 " href="/auth/login">Log in</a>
          <a class="m-1 btn btn-light rounded-pill my-2" href="/auth/signup">Register</a>
        </div>
        <a class="menu-item py-2 my-2 d-flex text-light align-items-center rounded-3" style="text-decoration: none;" href='/'>
          <i class='mx-2 bx bx-home bx-sm '></i>
          <div class="mx-2 fs-6 d-none d-sm-none d-lg-none d-xl-block ">Home</div>
        </a>
        <a class="menu-item py-2 my-2 d-flex text-light align-items-center rounded-3" style="text-decoration: none;" href='/chat/public'>
          <i class='mx-2 bx bx-message-rounded bx-sm '></i>
          <div class="mx-2 fs-6 d-none d-sm-none d-lg-none d-xl-block d-flex align-items-center"><span>Chat</span><span class="badge bg-primary ms-2">NEW</span></div>
        </a>
        <a class="menu-item py-2 my-2 d-flex text-light align-items-center rounded-3" style="text-decoration: none;" href='/community'>
          <i class='mx-2 bx bx-compass bx-sm '></i>
          <div class="mx-2 fs-6 d-none d-sm-none d-lg-none d-xl-block ">Community</div>
        </a>
      </div>
      `;
    }

    return `
    <div class="px-3 mt-4 d-md-block d-lg-block d-xl-none" >
     ${
       userId &&
       ` <a href="/profile/${userData?.id}"> <img src="${userData?.avatar}" class="user-avatar" alt="user-avatar" width="40" height="40" style="border-radius: 50%; object-fit: cover;"/></a>`
     }
    </div>
    <div class="px-3  d-none d-sm-none d-lg-none d-xl-block">
      ${generateWeatherBoard(weatherData, userData)}
    </div>
   <div class="p-3">
    ${menuItems.map((menuItem) => generateMenuItem(menuItem)).join("")}
    </div>
   `;
  };

  const generateComponent = (menuItems, weatherData, userData) => {
    const $page = $("#sidebar-menu-container");
    const $menu = generateSidebar(menuItems, weatherData, userData);

    $page.html("").append($menu);
  };

  $(document).ready(() => {
    generateComponent(menuItems, weatherData, userData);

    $("#sidebar-menu-container").on("click", "#auth-logout", (e) => {
      console.log("log out");
      e.preventDefault();

      axios({
        method: "DELETE",
        url: "/api/auth/logout",
      }).then(() => {
        window.location.href = "/";
      });
    });
  });
</script>

<div id="sidebar-menu-container" class="card d-flex flex-column justify-content-start align-items-center" style="border-radius: 15px; overflow: auto"></div>
