<script>
  const user = "<%= user.id  %>"
  const apiKey = '<%= process.env.OPEN_WEATHER_API_KEY %>';
  let lat, long, weatherData

   const menuItems = [
    {
      title: "Home",
      icon: "bx-home bx-sm",
      link: "/"
    },
     {
      title: "Community",
      icon: "bx-compass bx-sm",
      link: "/community"
    },
     {
      title: "My Posts",
      icon: "bx-paper-plane bx-sm",
      link: "/my/posts"
    },
     {
      title: "Create",
      icon: "bx-edit-alt bx-sm",
      link: "/my/posts/create"
    },
     {
      title: "Profile",
      icon: "bx-user bx-sm",
      link: "/my/profile/edit"
    },
     {
      title: "Messages",
      icon: "bx-message-rounded bx-sm",
      link: "/my/profile/edit"
    },
     {
      title: "Log out",
      icon: "bx-log-out bx-sm",
      link: "/"
    },
  ]


    const getLocation = () => {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition((position)=> {
          lat = position.coords.latitude
          long = position.coords.longitude
          // console.log(lat + "," + long)

            axios({
              method: 'GET',
              url: `https://api.openweathermap.org/data/2.5/weather?lat=${lat}&lon=${long}&appid=${apiKey}&units=metric`,
            }).then((resp)=> {
              weatherData = resp.data

              generateComponent(menuItems, weatherData)

            })
        });
      } else {
        console.log("Geolocation is not supported by this browser.");
        axios({
              method: 'GET',
              url: `https://api.openweathermap.org/data/2.5/weather?lat=22.3355433&lon=114.1622848&appid=${apiKey}&units=metric`,
            }).then((resp)=> {
              weatherData = resp.data
            })
      }
    }

    const generateWeatherBoard = (weatherData) => {
      if (!weatherData) {
        return `
       <div class="bg-white text-dark p-2" style="text-decoration: none;" >
            <h3>Welcome back!</h3>
            <div> <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></div>
          </div>


      `
      }

      return `
          <div class="bg-white text-dark p-2" style="text-decoration: none;" >
            <h3>Welcome back!</h3>
            <div>
              <a data-bs-toggle="collapse" style="text-decoration: none" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                 <div class=' text-dark'>${weatherData?.name}, ${weatherData?.sys.country}</div>
                 <div class="fw-bold fs-1 text-dark">${weatherData?.main.temp}ºC</div>
              </a>
            </div>
            <div class="collapse" id="collapseExample">
              <div class="">
                <div>Overall: ${weatherData?.weather[0].main}</div>
                <div>Humidity: <span class="fw-bold text-dark">${weatherData?.main.humidity}%</span></div>
                <div>Wind Speed: <span class="fw-bold text-dark">${((weatherData?.wind.speed)*3.6).toFixed(1)}km/hr</span></div>


              </div>
            </div>
          </div>
      `
    }

  const generateMenuItem = (menuItem)=> {
     return `
     <a class="menu-item py-2 my-3 d-flex text-dark align-items-center rounded-3" style="text-decoration: none;" href=${menuItem.link}>
       <i class='mx-2 bx ${menuItem.icon}'></i>
       <div class="mx-3 fs-6 d-none d-sm-none d-lg-none d-xl-block ">${menuItem.title}</div>
     </a>`
  }

  const generateSidebar = (menuItems, weatherData) => {
    console.log(user)

    if (!user) {
      return `
      <div class="p-3 d-md-block d-lg-block d-xl-none" >
        <i class='m-2 bx bx-sun bx-sm text-dark'></i>
      </div>
       <div class="p-3 d-md-block d-lg-block d-xl-none" >
        <a class='bx bx-compass bx-sm text-dark' href="/community" style="text-decoration: none"></a>
      </div>
      <div class="p-3 d-md-block d-lg-block d-xl-none" >
        <a class='bx bx-log-in-circle bx-sm text-primary' href="/auth/login" style="text-decoration: none"></a>
      </div>
      <div class="p-3 d-none d-sm-none d-lg-none d-xl-block">
        ${generateWeatherBoard(weatherData)}
      </div>
      <div class="p-3 d-none d-sm-none d-lg-none d-xl-block">
       <a class="btn btn-primary rounded-pill my-3" href="/auth/login">Log in</a>
      </div>
      `
    }

   return `
   <div class="p-3 d-md-block d-lg-block d-xl-none" >
      <i class='m-2 bx bx-sun bx-sm text-dark'></i>
    </div>
    <div class="p-3 d-none d-sm-none d-lg-none d-xl-block">
      ${generateWeatherBoard(weatherData)}
    </div>
   <div class="p-3">
    ${menuItems.map((menuItem) => generateMenuItem(menuItem)).join("")}
    </div>
   `
  }

  const generateComponent = (menuItems, weatherData) =>{
    const $page = $('#sidebar-menu-container')
    const $menu = generateSidebar(menuItems, weatherData)

    $page.html("").append($menu)
  }


    $(document).ready(() =>{

      getLocation()
      generateComponent(menuItems, weatherData, {isLoading: true})


    })

</script>


  <div id="sidebar-menu-container" class="bg-white d-flex flex-column justify-content-center align-items-center" style="border-radius: 15px;"></div>
