<script>


   const generateUser = (user) => {
      return `
        <a class="" href="/profile/${user.id}" data-bs-toggle="tooltip" data-bs-placement="right" title=${user.username}>
          <img src="${user.avatar}" class="user-avatar" alt="user-avatar" width="80" height="80" style="border-radius: 50%; object-fit: cover;"/>
        </a>
      `
    }

    const generateUsers = (usersData) => {
    return `
      <div class=" d-flex flex-column justify-content-center align-items-center">
        <h6 class="text-center py-3 d-lg-none d-xl-block">Community</h6>
        ${usersData.map((user) =>  generateUser(user)).join("")}
      </div>
    `
    }

    const generateUsersComponent = (usersData) => {
    const $page = $('#toolbar-users-container')
    const $users = generateUsers(usersData)

    $page.html("").append($users);

  }


  $(document).ready(() => {
    axios({
      method: "GET",
      url: "/api/community",
    }).then((resp) => {
      const usersData = resp.data.users;
      generateUsersComponent(usersData);
    });
  });
</script>

<div id="toolbar-users-container" class="p-2 card" style="border-radius: 1rem; overflow: auto; max-height: 90vh;" ></div>
