<%- contentFor('styles') %> <%- contentFor('scripts') %>
<script>
  const socket = io(window.location.origin)
  socket.on("connection")

  socket.on('systemMessage', (data) => {
    const $messagesContainer = $('#messages-container')
    const $message = `<div style="font-size: 0.8rem;" class="text-muted text-center p-1 my-2">${data}</div>`
    console.log(data)

    $messagesContainer.append($message)
  })

  socket.on('chatMessage', (data, timestamp) => {
    const $messagesContainer = $('#messages-container')
    const $messageInput = $('#messageInput')
    const $message = `
    <div class="bg-primary py-2 px-4 my-2 rounded-pill">
      <div class="text-light">${data}</div>
      <div class="text-light" style="font-size: 0.6rem;">${moment(timestamp).calendar()} by anonymous</div>
    </div>`

    $messagesContainer.append($message)
    $messagesContainer.scrollTop($messagesContainer.prop('scrollHeight'))
  })

  const sendMessage = (e) => {
    const $messageInput = $('#messageInput').val()
    const timestamp = new Date().getTime()

    socket.emit('chatMessage', $messageInput, timestamp)
    $('#messageInput').val('')
  }

  $(document).ready(() => {


  });
</script>

<%- contentFor('body') %>
<div id="pages-chat-public" class="bg-white my-2 p-4" style="border-radius: 1rem;">
  <h1>Public Live Chat</h1>
  <div id="messages-container" class="p-2 my-2 bg-light" style="border-radius: 1rem; max-height: 70vh; overflow: auto"></div>
  <div class="input-group mb-3">
    <input type="text" id="messageInput" class="form-control">
    <button class="btn btn-primary" onclick="sendMessage()"><i class='bx bx-send'></i></button>
  </div>
</div>
