<%- contentFor('styles') %> <%- contentFor('scripts') %>
<script>
   const socket = io("http://localhost:3000");

   socket.on("connection")

   socket.on('message', (data) => {
     const $messagesContainer = $('#messages')
     const $message = data
     console.log(data)

     $messagesContainer.html('').append($message)

   })

   const sendMessage = ()=>{
     socket.emit('message', 'message sent')
   }



  $(document).ready(() => {


  });
</script>

<%- contentFor('body') %>
<div id="pages-chat-public" class="bg-white my-2 p-3">
    <h1>Public Chat</h1>
    <input type="text" class="message">
    <button onclick="sendMessage()">Send Message</button>
    <div id="messages"></div>


</div>
