<%- contentFor('styles') %> <%- contentFor('scripts') %>
<script>
   const socket = io("http://localhost:3000");

   socket.on("connection")

   socket.on('systemMessage', (data) => {
     const $messagesContainer = $('#messages-container')
     const $message = `<div class="text-muted p-1 my-2">${data}</div>`
     console.log(data)

     $messagesContainer.append($message)
   })

   socket.on('chatMessage', (data) => {
     const $messagesContainer = $('#messages-container')
     const $messageInput = $('#messageInput')
     const $message = `<div class="bg-white py-1 px-2 my-2">${data}</div>`
     const $page = $('#pages-chat-public')
     console.log($messagesContainer.prop('scrollHeight')
)


     $messagesContainer.append($message)
     $messagesContainer.scrollTop($messagesContainer.prop('scrollHeight'))

   })

   const sendMessage = (e) => {
     const $messageInput = $('#messageInput').val()

     console.log($messageInput)

     socket.emit('chatMessage', $messageInput)
   }



  $(document).ready(() => {


  });
</script>

<%- contentFor('body') %>
<div id="pages-chat-public" class="bg-white my-2 p-4" style="border-radius: 1rem;">
    <h1>Public Chat</h1>
    <div id="messages-container" class="p-2 my-2 bg-light" style="border-radius: 1rem; max-height: 70vh; overflow: auto"></div>
    <div class="input-group mb-3">
      <input type="text" id="messageInput" class="form-control">
      <button class="btn btn-primary" onclick="sendMessage()"><i class='bx bx-send'></i></button>
   </div>


</div>
