<%- contentFor('styles') %> <%- contentFor('scripts') %>
<script>
  const generateTitle = () => {
    return `
    <h1 class="text-center py-4">All Public Posts</h1>`;
  };

   const generatePost = (post) => {
    let userId = post.userId
    let user = ""

     axios({
      method: 'GET',
      url: `/api/user/${userId}`
    }).then((resp) => {
      user = resp.data
      console.log(user)
    })

    return `
      <div class="col">
        <a class="card text-body p-2" href="/posts/${post.id}" style="text-decoration: none;">
          <div class="card-body text-center">
            <h5 class="card-title my-2">${post.title}</h5>
            <span class="badge bg-light text-dark">${user.username}</span>

            <p class="card-text my-4" style="text-align: left;">${post.content}</p>
          </div>
          <div>
            <span class="badge bg-info">Public</span>
            <span class="card-subtitle text-muted">${moment(post.createdAt).format("YYYY/MM/DD")}</span>
          </div>
        </a>
      </div>
`;
  };

  const generatePosts = ({ isLoading, posts = [] } = {}) => {
    if (isLoading) return `<div class="text-center mb-3">Loading...</div>`;
    if (posts.length === 0) {
      return `
          <h2 class="text-center mb-3">No Post Found!</h2>
        `;
    }
    return `
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <div class="row row-cols-1 g-3">
              ${posts.map((post) => generatePost(post)).join("")}
            </div>
          </div>
        </div>
      `;
  };

  const generatePage = (info) => {
    const $page = $("#pages-posts-index");
    const $title = generateTitle();
    const $posts = generatePosts(info);

    $page.html("").append($title).append($posts);
  };

  $(document).ready(() => {
    generatePage({ isLoading: true });

    axios({
      method: "GET",
      url: "/api/posts",
    }).then((resp) => {
      console.log(resp.data.users)
      generatePage({ posts: resp.data.posts, users: resp.data.users });
    });
  });
</script>

<%- contentFor('body') %>
<div id="pages-posts-index" class="container"></div>
