<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<script>
// Keep the avatar url reference
let avatarURL = ''
let isUpdated

const generateTitle = ({ isLoading, user } = {}) => {
  if (isLoading) return `<div class="text-center">Loading...</div>`
  if (!user) return `<h1 class="text-center mb-3">Please Login First</h1>`

  return `<h1 class="text-center py-3">Update Profile</h1>`
}

const generateForm = ({ user, errors } = {}) => {
  if (user?.avatar?.constructor?.name === 'String') {
    avatarURL = user.avatar || avatarURL
  }
  const $form = $(`
    <div class="row">
      <div id="form-wrapper" class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 p-4 mb-4 bg-light" style="border-radius: 1rem;">
       <div id="alert-wrapper"></div>
        <form id="my-profile-form">
          <div class="mb-4">
            <label for="user-avatar" class="form-label">Avatar</label>
            <div class="mb-3 ${!avatarURL && 'visually-hidden'}">
              <img src="${avatarURL}" alt="user-avatar" width="150" height="150" style="border-radius: 50%; object-fit: cover;"/>
            </div>
            <input id="user-avatar" class="form-control" name="avatar" type="file"></input>
            <div class="invalid-feedback">${errors?.avatar || ''}</div>
          </div>

          <div class="input-group py-3 pt-4 border-top border-dark"">
            <span class="input-group-text">First Name</span>
            <input id="user-first-name" class="form-control ${errors?.firstName && 'is-invalid'}" name="firstName" rows="3" value="${user?.firstName || ''}" type="text">
            <span class="input-group-text">Last Name</span>
            <input id="user-last-name" class="form-control ${errors?.lastName && 'is-invalid'}" name="lastName" rows="3" value="${user?.lastName || ''}" type="text">
          </div>

          <div class="input-group py-3">
              <span for="username" class="input-group-text">Username</span>
              <input id="username" class="form-control ${errors?.username && 'is-invalid'}" name="username" rows="3" value="${user?.username || ''}" type="text"></input>
              <div class="invalid-feedback">${errors?.username || ''}</div>
          </div>

          <div class="input-group py-3">
            <span for="user-email" class="input-group-text">Email</span>
            <input id="user-email" class="form-control ${errors?.email && 'is-invalid'}" name="email" rows="3" value="${user?.email || ''}" type="email"></input>
            <div class="invalid-feedback">${errors?.email || ''}</div>
          </div>


          <div class="input-group py-3">
            <span for="user-new-password" class="input-group-text">New Password</span>
            <input id="user-new-password" class="form-control ${errors?.password && 'is-invalid'}" name="password" rows="3" value="${user?.password || ''}" type="password"></input>
            <div class="invalid-feedback">${errors?.password || ''}</div>
          </div>

          <div class="input-group py-3">
            <span for="user-new-password-confirmation" class="input-group-text">New Password Confirmation</span>
            <input id="user-new-password-confirmation" class="form-control ${errors?.passwordConfirmation && 'is-invalid'}" name="passwordConfirmation" rows="3" value="${user?.passwordConfirmation || ''}" type="password"></input>
            <div class="invalid-feedback">${errors?.passwordConfirmation || ''}</div>
          </div>

          <div><h3>Biography</h3></div>
          <div class="input-group py-3 pt-4 border-top border-dark"">
            <span class="input-group-text">Location</span>
            <input id="user-location" class="form-control ${errors?.location && 'is-invalid'}" placeholder="optional" name="location" rows="3" value="${user?.location || ''}" type="text">
            <span class="input-group-text">Occupation</span>
            <input id="user-occupation" class="form-control ${errors?.occupation && 'is-invalid'}" placeholder="optional" name="occupation" rows="3" value="${user?.occupation || ''}" type="text">
          </div>

          <button class="btn btn-primary my-4" type="submit">Submit</button>
        </form>
      </div>
    </div>
  `)

  if (user?.avatar?.constructor?.name === 'File') {
    const $avatar = $('#user-avatar').attr('class', `form-control ${errors?.avatar && 'is-invalid'}`)
    $form.find('#user-avatar').replaceWith($avatar)
  }

  return $form
}

const generatePage = (info) => {
  const $page = $('#pages-my-profile-edit')
  const $title = generateTitle(info)
  const $form = generateForm(info)


  $page.html('').append($title).append($form)
}

$(document).ready(() => {
  generatePage({ isLoading: true })

  axios({
    method: 'GET',
    url: '/api/my/profile'
  }).then((resp) => {
    generatePage({ user: resp.data })
  }).catch(() => {
    generatePage()
  })

  $('#pages-my-profile-edit').on('submit', '#my-profile-form', (e) => {
    e.preventDefault()

    const data = new FormData(e.target)
    $('#my-profile-form button[type="submit"]').attr('disabled', true)

    axios({
      method: 'PUT',
      url: '/api/my/profile',
      data
    }).then((resp) => {
      generatePage({ user: resp.data })
      $('#alert-wrapper').html(`
        <div id="updated-success-alert" class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>Succeed!</strong> Profile successfully updated.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        `)
    }).catch((err) => {
      generatePage({
        user: parseFormData(data),
        errors: err.response.data
      })
    })
  })
})
</script>

<%- contentFor('body') %>
<div id="pages-my-profile-edit" class="container"></div>
