<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<script>

</script>

<%- contentFor('body') %>
<div id="pages-my-profile" class="container"></div>
<div class="text-center">
  <h1>Profile</h1>
</div>
