<%- contentFor('styles') %> <%- contentFor('scripts') %>
<script>

const id = window.location.href.split('/').reverse()[1]
let publicChecked

  const generateForm = ({ isLoading, post, errors } = {}) => {
    console.log("*" + post?.public)

    if (post?.public) {
      publicChecked = "checked"
    } else {
      publicChecked = ""
    }

    return `
      <div class="row mx-auto bg-white p-3" style="max-width: 600px; border-radius: 1rem">
        <div id="page-title" class="text-center py-3"><h1>Edit My Post</h1></div>
        <form id="post-new-form">
          <div class="my-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="title" class="form-control" id="titleInput" value="${post?.title}">
          </div>
          <div class="my-3">
            <label for="contentInput" class="form-label">Content</label>
            <textarea class="form-control" name="content" id="contentInput" rows="3" >${post?.content}</textarea>
          </div>
          ${post?.imageURL && ` <img src="${post?.imageURL}" width="100%""; object-fit: cover;"/>` || ""}
          <div class="form-check form-switch my-5">
            <input class="form-check-input" type="checkbox" id="publicInput" name="public" ${publicChecked && "checked"}>
            <label class="form-check-label" for="public">Make this post public</label>
          </div>
           <button class="btn btn-primary mx-auto my-2" id="update-post" type="submit">Update</button>
        </form>
      </div>
    `;
  };

  const generatePage = (info) => {
    const $page = $("#pages-my-posts-edit");
    const $form = generateForm(info);

    $page.html("").append($form);
  };

  $(document).ready(() => {
     generatePage({ isLoading: true })


    axios({
      method: 'GET',
      url: `/api/my/posts/${id}`
    }).then((resp) => {
      generatePage({ post: resp.data })
      console.log(resp.data)
    }).catch((err) => {
      generatePage()
    })

   $('#pages-my-posts-edit').on('click', '#publicInput', (e) => {
     console.log($('#public:checked').val())

   })

    $("#pages-my-posts-edit").on("submit", "#post-new-form", (e) => {
      e.preventDefault()

      const data = new FormData(e.target);
      console.log(data)
      $('#post-new-form button[type="submit"]').attr("disabled", true);

      axios({
      method: "PUT",
      url: `/api/my/posts/${id}`,
      data,
    }).then((resp) => {
        window.location.href = `/my/posts`;
      }).catch((err) => {
        generatePage();
      });
    });


  });
</script>

<%- contentFor('body') %>
<div id="pages-my-posts-edit" class=""></div>
