<%- contentFor('styles') %> <%- contentFor('scripts') %>
<script>
  const generateTitle = () => {
    return `
    <h1 class="text-center py-3">All My Posts</h1>`;
  };


  const generatePost = (post) => {
    let status = ""
    if (post.public) {
      status = "public"
      bg = "bg-info"
    } else {
      status = "private"
      bg = "bg-dark"
    }

    return `
      <div class="col">
        <a class="card text-body p-2"  href="/my/posts/${post.id}" style="text-decoration: none;">
          <div class="card-body text-center ">
            <h5 class="card-title my-2">${post.title}</h5>
            <p class="card-text my-4" style="text-align: left;">${post.content}</p>
          </div>
          <div>
            <span class="badge ${bg}"> ${status}</span>
            <span class="card-subtitle text-muted">${moment(post.createdAt).format("YYYY/MM/DD")}</span>
          </div>
        </a>
      </div>
`;
  };

  const generatePosts = ({ isLoading, posts = [] } = {}) => {
    if (isLoading) return `<div class="text-center mb-3">Loading...</div>`;
    if (posts.length === 0) {
      return `
          <h2 class="text-center mb-3">No Post Found!</h2>
          <div class="text-center">
            <a class="btn btn-primary" href="/my/posts/create">Create New Post</a>
          </div>
        `;
    }
    return `
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <div class="row row-cols-1 g-3">
              ${posts.map((post) => generatePost(post)).join("")}
            </div>
          </div>
        </div>
      `;
  };

  const generatePage = (info) => {

    const $page = $("#pages-my-posts-index");
    const $title = generateTitle()
    const $posts = generatePosts(info);

    $page.html("").append($title).append($posts);
  };

  $(document).ready(() => {
    generatePage({ isLoading: true });

    axios({
      method: "GET",
      url: "/api/my/posts",
    }).then((resp) => {
      console.log(resp.data.posts)
      console.log(resp.data.user)
      generatePage({ posts: resp.data.posts });
    });
  });
</script>

<%- contentFor('body') %>
<div id="pages-my-posts-index" class="container"></div>
