<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<script>
  const id = window.location.href.split('/').reverse()[0]

  const generateTitle = ({ isLoading, post } = {}) => {
  if (isLoading) return `
    <div class="text-center">Loading...</div>`
  if (!post) return `<h1 class="text-center mb-3">Post ${id} Not Found!</h1>`

  return `
  <h2 class="text-center my-3">Post ${id}</h2>`
}


  const generatePost = ({ isLoading, post } = {}) => {
    if (isLoading && !post) return ''

    return `
       <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
          <div class="card" style="border-radius: 10px;">
            <div class="card-body text-center">
              <h3 class="card-title mb-2">${post.title}</h3>
              <p class="card-text mb-2">${post.content}</p>
              <p class="card-subtitle text-muted mb-2">${moment(post.createdAt).format('YYYY/MM/DD')}</p>

              <div class="py-3">
                <a href="/my/wishlists/${id}/edit" class="btn btn-primary btn-sm">Edit</a>
                <button id="delete-my-wishlist" class="btn btn-danger btn-sm">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    `
  }

  const generatePage = (info) => {
    const $title = generateTitle(info)
    const $page = $('#pages-my-posts-show')
    const $post = generatePost(info)

    $page.html('').append($title).append($post)
  }

  $(document).ready(() => {
    generatePage({ isLoading: true })

    axios({
      method: 'GET',
      url: `/api/my/posts/${id}`
    }).then((resp) => {
      generatePage({ isLoading: false, post: resp.data})
    }).catch(() => {
    generatePage()
  })


  })


</script>

<%- contentFor('body') %>

<div id="pages-my-posts-show" class="container"></div>
