<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<script>

</script>

<%- contentFor('body') %>
<div id="pages-community" class="container"></div>
<div class="text-center">
  <h1>Community</h1>
</div>
