<%- contentFor('styles') %> <%- contentFor('scripts') %>
<script>
  const generateTitle = () => {
    return `
      <div class="text-center py-3">
        <h1>Our Community</h1>
      </div>
  `;
  };

  const generatePage = (info) => {
    const $page = $('#pages-community')
    const $title = generateTitle()
    const $users = generateUsers(info)

     $page.html("").append($title).append($users);
  }

    const generateUser = (user) => {
      return `
        <a class="user-card flex-wrap  card p-3 m-1 align-items-center" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -28px; text-decoration: none" href="/profile/${user.id}">
            <img src="${user.avatar}" alt="user-avatar" width="170" height="170" style="border-radius: 50%; object-fit: cover;"/>
            <h6 class="pt-3">${user.username}</h6>
            <p class="">${user.occupation || ""}</p>
        </a>
      `
    }

    const generateUsers = (users) => {
    return `
      <div class="d-flex justify-content-center py-3 flex-wrap">
        ${users.map((user) =>  generateUser(user)).join("")}
        </div>
    `
    }



$(document).ready(() => {


axios({
  method: 'GET',
  url: '/api/community'
}).then((resp) => {
  const users = resp.data.users
  generatePage(users)
})


})


</script>

<%- contentFor('body') %>
<div id="pages-community" class="container"></div>
