<%- contentFor('styles') %> <%- contentFor('scripts') %>
<script>

  const generatePage = (info) => {
    const $page = $('#pages-community')

    const $users = generateUsersList(info)

     $page.html("").append($users);
  }

    const generateUserItem = (user) => {
      return `

        <a class="user-card p-3 m-1 align-items-center" style=" text-decoration: none" href="/profile/${user.id}">
            <img src="${user.avatar}" alt="user-avatar" width="170" height="170" style="border-radius: 50%; object-fit: cover;"/>
            <h6 class="pt-3">${user.username}</h6>
            <p class="">${user.occupation || ""}</p>
        </a>
      `
    }

    const generateUsersList = (users) => {
    return `

      <div class=" d-flex justify-content-center my-2 p-0 flex-wrap text-center">
         <div class="text-center py-3" style="width: 100%">
          <h1>Our Community</h1>
         </div>
        ${users.map((user) =>  generateUserItem(user)).join("")}
      </div>
    `
    }



$(document).ready(() => {


axios({
  method: 'GET',
  url: '/api/community'
}).then((resp) => {
  const users = resp.data.users
  generatePage(users)
})


})


</script>

<%- contentFor('body') %>
<div id="pages-community" class="card bg-white my-2" style="border-radius: 1rem "></div>
