<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<script>
const generateForm = ({ user, errors } = {}) => {
  return `
    <div class="row">
      <div id="form-wrapper" class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <form id="login-form">
          <div class="mb-3">
            <label for="user-email" class="form-label">Email</label>
            <input id="user-email" class="form-control ${errors?.email && 'is-invalid'}" name="email" rows="3" value="${user?.email || ''}" type="email"></input>
            <div class="invalid-feedback">${errors?.email || ''}</div>
          </div>

          <div class="mb-3">
            <label for="user-password" class="form-label">Password</label>
            <input id="user-password" class="form-control ${errors?.password && 'is-invalid'}" name="password" rows="3" value="${user?.password || ''}" type="password"></input>
            <div class="invalid-feedback">${errors?.password || ''}</div>
          </div>

          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
    </div>
  `
}

const generatePage = (info) => {
  const $page = $('#pages-auth-login')
  const $title = '<h1 class="text-center">Login</h1>'
  const $form = generateForm(info)

  $page.html('').append($title).append($form)
}

$(document).ready(() => {
  generatePage()

  $('#pages-auth-login').on('submit', '#login-form', (e) => {
    e.preventDefault()

    const data = new FormData(e.target)
    $('#login-form button[type="submit"]').attr('disabled', true)

    axios({
      method: 'POST',
      url: '/api/auth/login',
      data
    }).then(() => {
      window.location.href = `/posts`
    }).catch((err) => {
      generatePage({
        user: parseFormData(data),
        errors: err.response.data
      })
    })
  })
})
</script>

<%- contentFor('body') %>
<div id="pages-auth-login" class="container"></div>
