<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<script>
const generateForm = ({ user, errors } = {}) => {
  return `
    <div class="row bg-white my-2 p-5 mx-auto" style="border-radius: 1rem;">
    <div class="text-center py-3"> <h1>Login 🔒</h1></div>
      <div id="form-wrapper">
        <form id="login-form" class="">
          <div class="mb-3">
            <label for="user-email" class="form-label">Email</label>
            <input id="user-email" class="form-control ${errors?.email && 'is-invalid'}" name="email" rows="3" value="${user?.email || ''}" type="email"></input>
            <div class="invalid-feedback">${errors?.email || ''}</div>
          </div>

          <div class="mb-3">
            <label for="user-password" class="form-label">Password</label>
            <input id="user-password" class="form-control ${errors?.password && 'is-invalid'}" name="password" rows="3" value="${user?.password || ''}" type="password"></input>
            <div class="invalid-feedback">${errors?.password || ''}</div>
          </div>

          <button class="btn btn-dark rounded-pill my-3" type="submit">Login</button>
        </form>
        <div class="my-3">Have not got an account? <a href="/auth/signup">Sign up</a></div>
      </div>
    </div>
  `
}

const generatePage = (info) => {
  const $page = $('#pages-auth-login')
  const $form = generateForm(info)

  $page.html('').append($form)
}

$(document).ready(() => {
  generatePage()

  $('#pages-auth-login').on('submit', '#login-form', (e) => {
    e.preventDefault()

    const data = new FormData(e.target)
    $('#login-form button[type="submit"]').attr('disabled', true)

    axios({
      method: 'POST',
      url: '/api/auth/login',
      data
    }).then(() => {
      window.location.href = `/posts`
    }).catch((err) => {
      generatePage({
        user: parseFormData(data),
        errors: err.response.data
      })
    })
  })
})
</script>

<%- contentFor('body') %>
<div id="pages-auth-login" class=""></div>
