<%- contentFor('styles') %> <%- contentFor('scripts') %>
<script>
  const generateTitle = () => {
    return `
    <h1 class="text-center"></h1>`;
  };

   const generatePost = (post) => {
    return `
      <div class="col">
        <a class="card text-body p-3" href="/posts/${post.id}" style="text-decoration: none; border-radius: 1rem">
          <div class="card-body">
              <h4 class="card-title mb-2" ">${post.title}</h4>
              <img src="${post.user.avatar}" alt="user-avatar" width="40" height="40" style="border-radius: 50%; object-fit: cover;"/>
              <span class="badge bg-light text-muted">Posted by ${post.user.username}</span>

              <p class="card-text my-3" style="text-align: left;">${post.content}</p>
              ${post?.imageURL && ` <img src="${post?.imageURL}" width="100%""; object-fit: cover;"/>` || ""}
            </div>
          <div>
            <span class="badge bg-dark">Public</span>
            <span class="badge bg-light text-muted">${moment(post.createdAt).calendar()}</span>
             <span class="badge rounded-pill bg-light text-muted" ${post.comment?.length || "hidden"}>💬 ${post.comment?.length}</span>
          </div>
        </a>
      </div>
`;
  };

  const generatePosts = ({ isLoading, posts = [] } = {}) => {
    if (isLoading) return `<div class="d-flex my-4 justify-content-center">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>`;
    if (posts.length === 0) {
      return `
          <h2 class="text-center mb-3">No Post Found!</h2>
        `;
    }
    return `
        <div class="row pb-3">
          <div class="">
            <div class="row row-cols-1 g-2">
              ${posts.map((post) => generatePost(post)).join("")}

            </div>
          </div>
        </div>
      `;
  };

  const generatePage = (info) => {
    const $page = $("#pages-posts-index");
    const $title = generateTitle();
    const $posts = generatePosts(info);

    $page.html("").append($title).append($posts);
  };

  $(document).ready(() => {
    generatePage({ isLoading: true });
    axios({
      method: "GET",
      url: "/api/posts",
    }).then((resp) => {
      generatePage({ posts: resp.data.posts});
    });



  });
</script>

<%- contentFor('body') %>


<div id="pages-posts-index" class=""></div>
