<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<script>

</script>

<%- contentFor('body') %>
<div id="pages-posts-index" class="container"></div>
<div class="text-center">
  <h1>Posts</h1>
</div>
