<%- contentFor('styles') %> <%- contentFor('scripts') %>
<script>
  const id = window.location.href.split('/').reverse()[0]

  const generateTitle = () => {
    return `
    <h1 class="text-center py-4">Specific Public Posts</h1>`;
  };

  const generatePost = ({post, isLoading}) => {

    if (isLoading) return `<div class="text-center mb-3">Loading...</div>`

    return `
      <div class="col">
        <a class="card text-body p-2" style="text-decoration: none;">
          <div class="card-body text-center">
            <h5 class="card-title my-2">${post?.title}</h5>
             <span class="badge bg-light text-dark">Posted by ${post.user.username}</span>
              <img src="${post.user.avatar}" alt="user-avatar" width="50" height="50" style="border-radius: 50%; object-fit: cover;"/>
            <p class="card-text my-4" style="text-align: left;">${post?.content}</p>
          </div>
          <div>
            <span class="card-subtitle text-muted">${moment(post.createdAt).format("YYYY/MM/DD")}</span>
          </div>

          <div class="pt-4">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Your comment">
              <button class="btn btn-secondary" type="button" id="comment">Comment</button>
            </div>
          </div>
        </a>
      </div>
`;
  };

  const generatePage = (info) => {
    const $page = $("#pages-posts-show");
    const $title = generateTitle();
    const $post = generatePost(info);

    $page.html("").append($title).append($post);
  };

  $(document).ready(() => {
    generatePage({ isLoading: true });

    axios({
      method: "GET",
      url: `/api/posts/${id}`,
    }).then((resp) => {
      generatePage({isLoading: false, post: resp.data});
    })
    .catch(() => {
    generatePage()
  })
  });
</script>

<%- contentFor('body') %>
<div id="pages-posts-show" class="container"></div>
