<%- contentFor('styles') %> <%- contentFor('scripts') %>
<script>
  const id = window.location.href.split('/').reverse()[0]

  const generateTitle = () => {
    return `
    <h1 class="text-center py-4">Specific Public Posts</h1>`;
  };

  const generatePost = ({post, isLoading}) => {

    if (isLoading) return `<div class="text-center mb-3">Loading...</div>`

    return `
      <div class="col " >
        <a class="card text-body p-3 mx-auto" style="text-decoration: none; border-radius: 1rem; max-width: 800px">
         <div class="card-body">
              <h4 class="card-title mb-2">${post.title}</h4>
              <img src="${post.user.avatar}" alt="user-avatar" width="50" height="50" style="border-radius: 50%; object-fit: cover;"/>
              <span class="badge bg-light text-muted">Posted by ${post.user.username}</span>
              <span class="badge bg-light text-muted">#${post.id}</span>
              <p class="card-text my-3" style="text-align: left;">${post.content}</p>
            </div>
          <div>
            <span class="card-subtitle text-muted">${moment(post.createdAt).format("YYYY/MM/DD")}</span>
          </div>

          <form id="comment-new-form" class="py-3">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Your comment" name="content">
               <input type="number" hidden class="form-control" id="postId" name="postId" value=${post.id}>
              <button class="btn btn-outline-secondary" type="submit" id="comment-submit">Comment</button>
            </div>
          </form>
          ${post.comment.map((comment) => {
            return `
              <div class="card p-2 my-1 rounded-3">${comment.content}</div>
            `
          }).join("")}

        </a>
      </div>
`;
  };

  const generatePage = (info) => {
    const $page = $("#pages-posts-show");
    const $title = generateTitle();
    const $post = generatePost(info);


    $page.html("").append($title).append($post);
  };

  $(document).ready(() => {
    generatePage({ isLoading: true });

    $('#pages-posts-show').on('submit', '#comment-new-form', (e) => {
     e.preventDefault()
     const data = new FormData(e.target);
     console.log(data)

        axios({
          method: "POST",
          url: '/api/comments',
          data
          }).then((resp) => {
             window.location.href = `/posts/${id}`;
          }).catch((err)=>{
            console.log(err)
          })
        })

    axios({
      method: "GET",
      url: `/api/posts/${id}`,
    }).then((resp) => {
      generatePage({isLoading: false, post: resp.data});
      console.log(resp.data)
    })
    .catch(() => {
    generatePage()
  })


     })
</script>

<%- contentFor('body') %>
<div id="pages-posts-show" class="container"></div>
